@import url('https://fonts.googleapis.com/css2?family=Anta&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


body{
    margin: 0px;
    background-color: black;

}

.nav{
   
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    height: 13vh;
    width: 100vw;
    color: black;
    font-size: x-large;
    text-align: center;
    background-color: #0284c7;
   
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;

img{
    height: 70px;
    width: 200px;
}
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 60px;
    font-size: larger;
   
}
.a-elements{
    padding: 15px;
}


.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 100vh;
    background-color: black;
    color: white;
    border: 1px solid white
    
}

#name{
    color: #0284c7;
}
.home-left{
   
    text-align:end;
    padding-top: -50px;
    padding-left: 30px;
    width: 70vw;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}
.home-right{
    text-align: center;
    padding-right: 70px;
    border-radius: 0%;
    border-color: beige;
    width: 30vw;
}
.my-photo{
        height: 250px;
        width: 250px;
        border-color: aliceblue;
        border-style: solid;
        border-width: 10px;
        border-radius: 210px;
}

#para{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: georgia ;
    color: white;


}
.about{
    text-align: center;
    padding: 10px;
    height: 100vh;
    color: #0284c7;
    background-color: black;
    border: 2px solid white;
}
.about-head{
    font-family: "Annapurna SIL", serif;
    font-size:xx-large;
    align-items: center;
    color: #0284c7;
}

.about-sub-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;

}

.about-right{
    color:  #0284c7;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
}

.skills{
        text-align: center;
        padding-top: 80px;
        color: #0284c7;
        height: 90vh;
        border: 2px solid white;
        background-color:rgba(0, 0, 0, 0.838);

}
.skills-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size:larger;


}
.list{
    text-align: left;
    color: white;
    font-size: larger;
    
}
.certificates{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: x-large;
    word-spacing: 5px;
}

.achievements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: x-large;
    
}

.contact{
    text-align: center;
    height: auto;
    width: auto;
    background-color: #0284c7 ;
    border: 2px solid white;
    padding-top: 20px;
    font-size: xx-large;
}

.contact-info{
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-size: x-large;
    color: black;
    
}
.social-media-icon{
    height: 40px;
    width: auto;
    padding-right: 10px;
    padding-top: 30px;
}